@font-face {
    font-family: "Rubik";
    src: url("../Rubik/Rubik-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
}

:root {

    /* Primary colors*/
    --blue: hsl(246 80% 60%);
    --work: hsl(15 100% 70%);
    --play: hsl(195 74% 62%);
    --study: hsl(348 100% 68%);
    --exercise: hsl(145 58% 55%);
    --social: hsl(264 64% 52%);
    --self-care: hsl(43 84% 65%);

    /* Neutral colors */
    --very-dark-blue: hsl(226 43% 10%);
    --dark-blue: hsl(235 45% 20%);
    --pastel-blue: hsl(236 41% 34%);
    --desaturated-blue: hsl(235 45% 61%);
    --pale-blue: hsl(236 100% 87%);
    --white: hsl(0 0% 100%);

    /* Font sizes */
    --small: 0.9375rem;
    --medium: 1.125rem;
    --name: clamp(1.5rem, 0.8922rem + 2.5932vw, 2.5rem);
    --time: clamp(2rem, 1.0883rem + 3.8898vw, 3.5rem);
}

*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
    padding: 0;
    margin: 0;
}

#avatar {
    border-radius: 50%;
    outline: 3px solid var(--white);
    box-shadow: 0 4px 4px 3px hsl(0 0% 0% / 0.25);
    min-width: 64px;
    grid-area: avatar;
}

body {
    min-height: 100vh;
    font-family: "Rubik", sans-serif;
    font-size: var(--small);
    font-weight: 400;
    letter-spacing: 0;
    background-color: var(--very-dark-blue);
    color: var(--white);
    padding: 24px;
}

.card {
    background-color: var(--dark-blue);
    border-radius: 15px;
}

.card:not(#user) {
    padding-top: 38px;
}

/* Card colors */
#exercise {
    background: no-repeat url("../images/icon-exercise.svg") top -1% right 20px, linear-gradient(var(--exercise) 50%, transparent 50%);
}
#play {
    background: no-repeat url("../images/icon-play.svg") top -10% right 20px, linear-gradient(var(--play) 50%, transparent 50%);
}
#self-care {
    background: no-repeat url("../images/icon-self-care.svg") top -20% right 20px, linear-gradient(var(--self-care) 50%, transparent 50%);
}
#social {
    background: no-repeat url("../images/icon-social.svg") top -60% right 20px, linear-gradient(var(--social) 50%, transparent 50%);
}
#study {
    background: no-repeat url("../images/icon-study.svg") top -15% right 20px, linear-gradient(var(--study) 50%, transparent 50%);
}
#work {
    background: no-repeat url("../images/icon-work.svg") top -25% right 20px, linear-gradient(var(--work) 50%, transparent 50%);
}

.card-inner {
    background-color: var(--dark-blue);
    border-radius: inherit;
    padding: 28px 24px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: space-between;
    row-gap: 6px;
    align-items: center;
}

.current {
    font-weight: 300;
    font-size: var(--time);
}

h1 {
    font-weight: 300;
    font-size: var(--name);
}

h2 {
    font-weight: 500;
    font-size: var(--medium);
}
  
img {
    display: block;
    max-width: 100%;
    height: auto;
}

main {
    display: grid;
    justify-content: center;
    align-content: center;
    row-gap: 24px;
    grid-template-columns: 1fr;
}

#name {
    grid-area: name;
}

nav {
    font-size: var(--medium);
}

nav button {
    display: block;
    font-size: inherit;
    border: none;
    background-color: inherit;
    color: var(--desaturated-blue);
}

.previous {
    color: var(--pale-blue);
}

#profile {
    background-color: var(--blue);
    padding-block: 35px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas:
        "avatar report"
        "avatar name"
    ;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 20px;
    row-gap: 4px;
}

#report {
    color: var(--pale-blue);
    grid-area: report;
}

.selected {
    color: var(--white);
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    padding-block: 24px;
}

@media (hover: hover) {
    .card:not(#user):hover {
        cursor: pointer;
    }

    .card:not(#user):hover:not(:has(.ellipsis:hover)) .card-inner {
        background-color: var(--pastel-blue);
    }

    .ellipsis:hover path {
        cursor: pointer;
        fill: var(--white);
    }

    nav button:hover {
        cursor: pointer;
        color: var(--white);
    }
}