@font-face {
    font-family: "Rubik";
    src: url("../Rubik/Rubik-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
}

:root {

    /* Primary colors*/
    --blue: hsl(246 80% 60%);
    --work: hsl(15 100% 70%);
    --play: hsl(195 74% 62%);
    --study: hsl(348 100% 68%);
    --exercise: hsl(145 58% 55%);
    --social: hsl(264 64% 52%);
    --self-care: hsl(43 84% 65%);

    /* Neutral colors */
    --very-dark-blue: hsl(226 43% 10%);
    --dark-blue: hsl(235 45% 20%);
    --pastel-blue: hsl(236 41% 34%);
    --desaturated-blue: hsl(235 45% 61%);
    --pale-blue: hsl(236 100% 87%);
    --white: hsl(0 0% 100%);

}

*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    font-family: "Rubik", sans-serif;
    background-color: var(--very-dark-blue);
    color: var(--white);
}

/* Card colors */
.card {
    background-color: var(--dark-blue);
}
#exercise {
    background-color: var(--exercise);
}
#play {
    background-color: var(--play);
}
#self-care {
    background-color: var(--self-care);
}
#social {
    background-color: var(--social);
}
#study {
    background-color: var(--study)
}
#work {
    background-color: var(--work);
}

.card-inner {
    background-color: var(--dark-blue);
}
  
img {
    display: block;
    max-width: 100%;
}

nav button {
    border: none;
    background-color: inherit;
    color: var(--desaturated-blue);
}

.previous {
    color: var(--pale-blue);
}

#profile {
    background-color: var(--blue);
}

#report {
    color: var(--pale-blue);
}

@media (hover: hover) {
    .card:not(#user):hover {
        cursor: pointer;
    }

    .card:not(#user):hover:not(:has(.ellipsis:hover)) .card-inner {
        background-color: var(--pastel-blue);
    }

    .ellipsis:hover path {
        cursor: pointer;
        fill: var(--white);
    }

    nav button:hover {
        cursor: pointer;
        color: var(--white);
    }
}