@font-face {
    font-family: "Rubik";
    src: url("../Rubik/Rubik-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
}

:root {

    /* Primary colors*/
    --blue: hsl(246 80% 60%);
    --work: hsl(15 100% 70%);
    --play: hsl(195 74% 62%);
    --study: hsl(348 100% 68%);
    --exercise: hsl(145 58% 55%);
    --social: hsl(264 64% 52%);
    --self-care: hsl(43 84% 65%);

    /* Neutral colors */
    --very-dark-blue: hsl(226 43% 10%);
    --dark-blue: hsl(235 45% 20%);
    --pastel-blue: hsl(236 41% 34%);
    --desaturated-blue: hsl(235 45% 61%);
    --pale-blue: hsl(236 100% 87%);
    --white: hsl(0 0% 100%);

    /* Font sizes */
    --small: 0.9375rem;
    --medium: 1.125rem;
    --name: clamp(1.5rem, 0.8922rem + 2.5932vw, 2.5rem);
    --time: clamp(2rem, 1.0883rem + 3.8898vw, 3.5rem);
}

*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
    padding: 0;
    margin: 0;
}

#avatar {
    border-radius: 50%;
    outline: 3px solid var(--white);
    box-shadow: 0 4px 4px 3px hsl(0 0% 0% / 0.25);
    min-width: 64px;
    grid-area: avatar;
}

body {
    min-height: 100vh;
    font-family: "Rubik", sans-serif;
    font-size: var(--small);
    font-weight: 400;
    letter-spacing: 0;
    background-color: var(--very-dark-blue);
    color: var(--white);
    padding: 24px clamp(4px, -112px + 36.3636vw, 24px);
    display: grid;
    justify-content: center;
}

.card {
    background-color: var(--dark-blue);
    border-radius: 15px;
}

.card:not(#user) {
    padding-top: 38px;
}

/* Card decorations */
#exercise {
    background: no-repeat url("../images/icon-exercise.svg") top -1px right 17px, linear-gradient(var(--exercise) 50%, transparent 50%);
}
#play {
    background: no-repeat url("../images/icon-play.svg") top -4px right 17px, linear-gradient(var(--play) 50%, transparent 50%);
}
#self-care {
    background: no-repeat url("../images/icon-self-care.svg") top -11px right 17px, linear-gradient(var(--self-care) 50%, transparent 50%);
}
#social {
    background: no-repeat url("../images/icon-social.svg") top -15px right 17px, linear-gradient(var(--social) 50%, transparent 50%);
}
#study {
    background: no-repeat url("../images/icon-study.svg") top -7px right 17px, linear-gradient(var(--study) 50%, transparent 50%);
}
#work {
    background: no-repeat url("../images/icon-work.svg") top -11px right 17px, linear-gradient(var(--work) 50%, transparent 50%);
}

.card-inner {
    background-color: var(--dark-blue);
    border-radius: inherit;
    padding: 28px 24px;
    display: grid;
    grid-template-areas:
        "type ellipsis"
        "current previous"
    ;
    justify-content: space-between;
    gap: 6px;
    align-items: center;
}

.current {
    font-weight: 300;
    font-size: var(--time);
    grid-area: current
}

.ellipsis {
    justify-self: end;
    grid-area: ellipsis;
}

h1 {
    font-weight: 300;
    font-size: var(--name);
}

h2 {
    font-weight: 500;
    font-size: var(--medium);
    grid-area: type;
}
  
img {
    display: block;
    max-width: 100%;
    height: auto;
}

main {
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 24px;
    grid-template-columns: minmax(auto, 512px);
}

#name {
    grid-area: name;
    word-wrap:break-word;
}

nav {
    font-size: var(--medium);
}

nav button {
    display: block;
    font-size: inherit;
    font-family: inherit;
    border: none;
    background-color: inherit;
    color: var(--desaturated-blue);
}

.previous {
    color: var(--pale-blue);
    grid-area: previous;
    text-align: end;
}

.previous.daily::before{
    content: "Yesterday - "
}
.previous.weekly::before{
    content: "Last Week - "
}
.previous.monthly::before{
    content: "Last Month - "
}

#profile {
    background-color: var(--blue);
    padding-block: 35px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas:
        "avatar ."
        "avatar report"
        "avatar name"
        "avatar ."
    ;
    column-gap: 20px;
    row-gap: 4px;
}

#report {
    color: var(--pale-blue);
    grid-area: report;
}

.selected {
    color: var(--white);
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    padding-block: 24px;
}

#user {
    grid-column: 1 / -1;
}

@media (hover: hover) {
    .card:not(#user):hover {
        cursor: pointer;
    }

    .card:not(#user):hover:not(:has(.ellipsis:hover)) .card-inner {
        background-color: var(--pastel-blue);
    }

    .ellipsis:hover path {
        cursor: pointer;
        fill: var(--white);
    }

    nav button:hover {
        cursor: pointer;
        color: var(--white);
    }
}

@media (min-width: 1080px) {
    #avatar {
        min-width: 78px;
        margin-block-end: 40px;
    }

    body {
        align-content: center;
    }

    .card:not(#user) {
        padding-top: 45px;
    }

    .card-inner {
        grid-template-areas:
            "type ellipsis"
            "current ."
            "previous ."
        ;
        row-gap: 8px;
        padding: 29px 30px;
    }

    .current {
        margin-block-start: 19px;
    }

    main {
        grid-template-columns: repeat(4, minmax(auto, 255px));
        grid-template-rows: 1fr 1fr;
        gap: 30px;
    }

    .previous {
        text-align: start;
    }

    #profile {
        grid-template-areas:
            "avatar"
            "report"
            "name"
        ;
        justify-content: start;
        align-content: stretch;
        padding: 37px 32px 80px; 
        row-gap: 3px;
    }

    ul {
        grid-template-rows: auto auto auto;
        grid-template-columns: auto;
        justify-items: start;
        row-gap: 21px;
        padding: 26px 32px;
    }

    #user {
        grid-column: 1;
        grid-row: 1 / -1;
    }
}